.main {
    background-color: #000;
}

.movie {
    margin: 0 auto;
    width: 90%;
    position: relative;
    color:#fff;
    
}


.movie_intro {

}

.movie_backdrop {
    height: 100vh;
}

.movie_detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    width: 90%;
    transform: translate(-50%,-50%);
}

.movie_detailLeft {
    width: 30%;
}

.movie_poster {
}

.movie_detailRight {}

.movie_desc {
    font-size:30px;
}

.movie_name {}

.movie_tagline {}

.movie_rating {}

.movie_votecount {}

.movie_runtime {}

.movie_data {}

.movie_genres {}

.movie_genre {}

.movie_detailBottom {}

.movie_text {}

.movie_overview {}
